[Desktop Entry]
Charset=
Hidden=false
Keys=@lwg
Name=LWG Mailinglist Archive Search
Query=http://lists.isocpp.org/lib/cgi-bin/swish.cgi?query=\\{@}
Type=Service
X-KDE-ServiceTypes=SearchProvider
